@model IEnumerable<MukMafiaTool.Model.Player>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aliases)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Participating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Character)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recruitments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fatality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.Aliases.Count()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Participating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Character)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @foreach (var recruitment in item.Recruitments)
            {
                <div class="table-bordered">
                    @Html.DisplayTextFor(r => recruitment.FactionName) - @Html.DisplayTextFor(r => recruitment.Allegiance) <br />
                    Recruited on: @Html.DisplayTextFor(r => recruitment.ForumPostNumber)
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fatality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { playerName = item.Name }) |
            @Html.ActionLink("Toggle", "ToggleParticipant", new { playerName = item.Name })
        </td>
    </tr>
}

</table>
