@model System.Collections.Generic.IList<MukMafiaTool.Model.ForumPost>

@using System.Linq
@using MukMafiaTool.Extensions

@{
    Layout = null;
}

@{
    ViewBag.Title = "RLLMUK Mafiascum Helper - Posts";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel='stylesheet' href='https://www.rllmukforum.com/uploads/css_built_2/341e4a57816af3ba440d891ca87450ff_framework.css.6baee13e14b3db08b90c5ed34427a005.css?v=ba4f56c94a' media='all'>
    <link rel='stylesheet' href='https://www.rllmukforum.com/uploads/css_built_2/05e81b71abe4f22d6eb8d1a929494829_responsive.css.50f0c57a0905b6be9b8aa5e6ac525093.css?v=ba4f56c94a' media='all'>
    <link rel='stylesheet' href='https://www.rllmukforum.com/uploads/css_built_2/90eb5adf50a8c640f633d47fd7eb1778_core.css.9d66364d8484ffd2fa11091f26b5dd99.css?v=ba4f56c94a' media='all'>
    <link rel='stylesheet' href='https://www.rllmukforum.com/uploads/css_built_2/5a0da001ccc2200dc5625c3f3934497d_core_responsive.css.a678046e2965ddd3aaa1f526b59653f9.css?v=ba4f56c94a' media='all'>
    <link rel='stylesheet' href='https://www.rllmukforum.com/uploads/css_built_2/62e269ced0fdab7e30e026f1d30ae516_forums.css.98556dd3253ba2c5124a7f00e90f4dd7.css?v=ba4f56c94a' media='all'>
    <link rel='stylesheet' href='https://www.rllmukforum.com/uploads/css_built_2/76e62c573090645fb99a15a363d8620e_forums_responsive.css.def069e26c4e1538e64074ed51b3bce4.css?v=ba4f56c94a' media='all'>

    <link rel='stylesheet' href='https://www.rllmukforum.com/uploads/css_built_2/258adbb6e4f3e83cd3b355f84e3fa002_custom.css.d29b95069052733260de474fab285995.css?v=ba4f56c94a' media='all'>

    <title></title>
</head>
<body>
    <div data-role="commentFeed" data-controller="core.front.core.moderation" class="ipsAreaBackground_light ipsPad">
        @foreach (var post in @Model.OrderByDescending(p => p.ForumPostNumber))
        {
            <article itemscope="" itemtype="http://schema.org/Comment" id="elComment_11373461" class="cPost ipsBox  ipsComment  ipsComment_parent ipsClearfix ipsClear ipsColumns ipsColumns_noSpacing ipsColumns_collapsePhone  ">

                <aside class="ipsComment_author cAuthorPane ipsColumn ipsColumn_medium">
                    <h3 class="ipsType_sectionHead cAuthorPane_author ipsType_blendLinks ipsType_break" itemprop="creator" itemscope="" itemtype="http://schema.org/Person">
                        <strong itemprop="name">
                            @post.Poster
                        </strong>
                    </h3>
                    <p class="ipsType_reset ipsType_blendLinks ipsSpacer_bottom ipsSpacer_half">@ForumLinkGenerator.LinkToForumPost(post.ForumPostNumber, post.ForumPostNumber, "ipsType_blendLinks")</p>
                    <p class="ipsType_reset ipsType_blendLinks ipsSpacer_bottom ipsSpacer_half">Day @post.Day</p>
                    <p class="ipsType_reset ipsType_blendLinks ipsSpacer_bottom ipsSpacer_half">@post.DateTime.ToLocalTime().ToString("dddd dd MMMM - HH:mm")</p>
                </aside>
                <div class="ipsColumn ipsColumn_fluid">
                    <div id="comment-11373461_wrap" data-controller="core.front.core.comment" data-commentapp="forums" data-commenttype="forums" data-commentid="11373461" data-quotedata="{&quot;userid&quot;:27628,&quot;username&quot;:&quot;Mr Jaguar&quot;,&quot;timestamp&quot;:1493753106,&quot;contentapp&quot;:&quot;forums&quot;,&quot;contenttype&quot;:&quot;forums&quot;,&quot;contentid&quot;:299377,&quot;contentclass&quot;:&quot;forums_Topic&quot;,&quot;contentcommentid&quot;:11373461}" class="ipsComment_content ipsType_medium  ipsFaded_withHover">
                        <div class="cPost_contentWrap ipsPad">
                            <div data-role="commentContent" itemprop="text" class="ipsType_normal ipsType_richText ipsContained" data-controller="core.front.core.lightboxedImages">
                                @post.Content
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        }
    </div>
</body>
</html>
