@model System.Collections.Generic.IList<MukMafiaTool.Model.ForumPost>

@using System.Linq
@using MukMafiaTool.Extensions

@{
    ViewBag.Title = "Posts";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RLLMUK Mafiascum - Posts</title>

    <style>

    </style>
</head>
<body>
    <div class="container" style="background-color: lightgray; padding: 15px;">
        @foreach (var post in @Model.OrderByDescending(p => p.ForumPostNumber))
        {
            <div class="container" style="display: flex; background-color: white; border: 3px solid transparent; margin-bottom: 15px;">
                <div style="width: 200px; align-content: center">
                    <h3 style="text-align: center"><strong>@post.Poster</strong></h3>
                </div>
                <div class="container" style="flex: 1">
                    <div style="padding: 15px 10px 10px 0;">
                        @ForumLinkGenerator.LinkToForumPost(post.ForumPostNumber, post.ForumPostNumber, "ipsType_blendLinks") -
                        Day @post.Day -
                        @post.DateTime.ToLocalTime().ToString("dddd dd MMMM - HH:mm")
                    </div>
                    <div style="padding: 7px 15px 15px 0; position: relative">
                        @post.Content
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>