@model MukMafiaTool.Models.ViewModels.HomeViewModel

@using System.Linq

@{
    ViewBag.Title = "RLLMUK Mafiascum Helper";
}

<br />
Keyword Search:
    @using(Html.BeginForm("index", "post", FormMethod.Get))
    {
        @Html.TextBox("searchString")
        @Html.DropDownList("playerName", @Model.PlayerNames, "Select a poster name to filter by")
        <input type="submit" value="Search" />
        <br/>
        @Html.CheckBox("includeQuoteBlocks", false)
        @Html.Label("Include text inside quote blocks in the search", new { style = "font-weight:normal" })
    }

(Separate search terms using spaces. Search for a phrase by using speech marks.)

<br />
<br />
Last Updated: @Model.LastUpdated.ToLocalTime().ToString("dddd dd MMMM - HH:mm") (UTC time)

<br />
<br />

Current Vote Situation (cannot guarantee 100% accuracy, if your vote isn't here try posting it again using "vote: name"):

<ul>

    @foreach (var voteGroup in Model.Votes)
    {
        var listOfVoters = string.Join(", ", voteGroup.Select(g => "<a href=\"http://www.rllmukforum.com/index.php?app=forums&module=forums&section=findpost&pid=" + g.ForumPostNumber + "\">" + g.Voter + "</a>"));

        <li><strong>@voteGroup.Key (@voteGroup.Count())</strong> - @Html.Raw(listOfVoters) </li>
    }

</ul>

Not Voted (@Model.NotVoted.Count) - @string.Join(", ", Model.NotVoted.Select(p => p.Name))

<br />
<br />

List of Participants:

<ol>

    @foreach (var player in @Model.Players.OrderByDescending(p => p.PostCount))
    {
        if (player.Excluded)
        {
            var htmlAttributes = player.Dead ? null : new { style = "text-decoration: line-through" };
            
            <li>@Html.ActionLink(player.Name, "index", "post", new { playerName = player.Name }, htmlAttributes) (@player.PostCount)</li>
        }
        else
        {
            <li>@Html.ActionLink(player.Name, "index", "post", new { playerName = player.Name }, null) (@player.PostCount)</li>
        }

    }

</ol>

<br />
<br />

Days:

<ul>
    @foreach(var day in @Model.Days.OrderBy(d => d.Number))
    {
        var FirstPostLink = string.Format("http://www.rllmukforum.com/index.php?app=forums&module=forums&section=findpost&pid={0}", day.StartForumPostNumber);
        
        <li>Day day.Number - <a href="@FirstPostLink">First Post</a></li>
    }
</ul>