@model IEnumerable<MukMafiaTool.Model.Vote>

@{
    ViewBag.Title = "Votes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Votes</title>
</head>
<body>
    <p>
        @Html.ActionLink("Home", "Index", "Home")
    </p>
    <table class="table-condensed">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsUnvote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Voter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ForumPostNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostContentIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManuallyEdited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invalid)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsUnvote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recipient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @{
                    var forumPostLink = string.Format("http://www.rllmukforum.com/index.php?app=forums&module=forums&section=findpost&pid={0}", item.ForumPostNumber);
                }
                <a href="@forumPostLink">@item.ForumPostNumber</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostContentIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManuallyEdited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Day)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invalid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { forumPostNumber = item.ForumPostNumber, postContentIndex = item.PostContentIndex })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
